# Nested while loop:
- nested while loop is same as nested for untill the condition is true the loops executes.
- here first outer while loop executes followed by inner while loop.

In [5]:
a = 1
b = 5
while a <= 1:
    while b <= 10:
        print(a,b)
        a += 1
        b += 1

1 5
2 6
3 7
4 8
5 9
6 10

In [3]:
a = 5
b = 10
while a > 0:
    while b > 5:
        print(a,b)
        a -= 1
        b -= 1

5 10
4 9
3 8
2 7
1 6

In [6]:
# using nested while loop print right angle triangle with numbers

In [9]:
i = 1
j = 5

In [14]:
# pass
i = 1
while i < 5:
    print(i)
    if i ==3:
        pass
    i += 1

1
2
3
4

In [15]:
# break
i = 1
while i < 5:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [19]:
# continue
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5

# list comprehensions
- list comprehensions is decreasing the size of the list operations in a concise and readable way.
- this list comprehensions helps us to bulid the logic in a single line.
- syntax:      [expression for item in iterables].

In [21]:
a = [1,2,3,4,5]
[i * 2 for i in a]               # here no need to print the statement but include it in list is mandatory.

[2, 4, 6, 8, 10]

In [22]:
fact = [1,2,3,4,5]
[i * (i-1) for i in fact]

[0, 2, 6, 12, 20]

In [40]:
a = [1,2,3,4,5,6,7,8,9,10]
[i for i in a if i%2 == 0]

[2, 4, 6, 8, 10]

In [51]:
a = ["sai","pranay","vishwanth","nitish"]
b = []
for i in a:
    b.append(i[0])
print(b)

['s', 'p', 'v', 'n']

In [48]:
a = ["sai","pranay","vishwanth","nitish"]
[i[0] for i in a]

['s', 'p', 'v', 'n']

In [55]:
a = []
for i in range(1,11):
    if i%2 ==0:
        print(f"even {i}")
    else:
        print(f"odd {i}")

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10

In [54]:
# wap to filter out events and odds seperately in new list using list comprehension
a = []
[i for i in range(1,11) if i%2 == 0]

[2, 4, 6, 8, 10]

In [57]:
# dictionary comprehension
d = {}
for i in range(5):
    d[i] = i*2
print(d)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [71]:
{i:i*2 for i in range(6)}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [80]:
a = ["sai","pranay","vishwanth","nitish"]
{i:len(i) for i in a if len(i)>4}

{'pranay': 6, 'vishwanth': 9, 'nitish': 6}

In [84]:
{i:len(i) for i in ["sai","pranay","vishwanth","nitish"] if len(i)>4}

{'pranay': 6, 'vishwanth': 9, 'nitish': 6}

# Functions
- functions is a organised block of code to do specific task.
- with a keyword "def" we initialize the function followed by function name(any name except keywords) followed by ():
- to the paranthesis pass your parameters.
- n number of parameters we can pass.
- call the function with function name by passing your arguments.
- NOTE: parameters and arguments are similar not exactly same.

In [87]:
def add(a,b):
    return a+b
add(2,3)

5

In [2]:
# find the area of circle using functions.
def area(r):
    return 3.14 * (r*r)
area(5)

78.5

In [91]:
# find even and odd using functions.
def even_odd(n):
    if n%2 == 0:
        print("even")
    else:
        print("odd")
even_odd(5)

odd