# Dictionary
- Dictionary is a maping data type.
- it consists of key and value pairs separated by colon(:) and enclosed by {}.
- keys are always "unique" but values may be repeated.
- keys are immutable and values can be changes so they are mutable.
- syntax: variable = {key:value}.
- whole dictionary is a mutable data type because values can be changes so.

In [1]:
dict1 = {}                #dict itself a keyword which creates a dictionary
print(type(dict1))

<class 'dict'>

In [3]:
dict2 = {"name" : "sai santhos",
         "age" : 22,
         "Gender" : "male"}
print(dict2)
print(type(dict2))

{'name': 'sai santhos', 'age': 22, 'Gender': 'male'}
<class 'dict'>

In [1]:
d = {1:32,2:33,3:44,2:234}         #Dictionary doesnt allow duplicate values.so it takes of last occurance.
print(d)
print(type(d))

{1: 32, 2: 234, 3: 44}
<class 'dict'>

In [7]:
#We can take list as a value for a key in a dictionary sometimes
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
print(d1)
print(type(d1))

{'name': 'python', 'dob': 1991, 'places': ['hyderabad', 'chennai', 'banglore']}
<class 'dict'>

# Dictionary indexing

In [15]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
d1["places"][1]

'chennai'

In [21]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
print(d1.keys())                   #keys function returns whole keys from the dictionary
print(d1.values())                #values function returns whole values from the dictionary
print(d1.items())                #here we can get whole dictionary items i,e key:value pairs

dict_keys(['name', 'dob', 'places'])
dict_values(['python', 1991, ['hyderabad', 'chennai', 'banglore']])
dict_items([('name', 'python'), ('dob', 1991), ('places', ['hyderabad', 'chennai', 'banglore'])])

# adding elements to the dictionary
- directly we can add item(key-value) pair to the dictionary by mentioning dictionary_name[key]=value.
- here the added element will be added at the end of the dictionary.

In [22]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
d1["website"] = "python.org"
print(d1)

{'name': 'python', 'dob': 1991, 'places': ['hyderabad', 'chennai', 'banglore'], 'website': 'python.org'}

# update() method:
- update method is used to add more than one element at once to the dictionary.
- here we used dic.update({key:vale})`

In [24]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
d1.update({"location":"hyderabad","course":"data science","present day":"moday"})
print(d1)

{'name': 'python', 'dob': 1991, 'places': ['hyderabad', 'chennai', 'banglore'], 'location': 'hyderabad', 'course': 'data science', 'present day': 'moday'}

# change of elements
- changing of elements from the dictionaries can be done by index method.

In [26]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
d1["places"][1] = "goa"
print(d1)

{'name': 'python', 'dob': 1991, 'places': ['hyderabad', 'goa', 'banglore']}

In [28]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
d1["name"] = "sai"
print(d1)

{'name': 'sai', 'dob': 1991, 'places': ['hyderabad', 'chennai', 'banglore']}

# get()
- get method in python is used to find the key only,but if the key is not present then it wont thow an error.
- to handle key-value error get method is used.

In [31]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
print(d1.get("location"))                 #here location is not found in the dictionary so it returned none instead of error.

None

In [34]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
print(d1.get("places"))

['hyderabad', 'chennai', 'banglore']

In [38]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
d2 = {"bond":"sigma bond","color":"red","blast":"not yet"}
print("places" in d1)                     #membership operator
print(d1 == d2)                          #assignment operator  
print(d1 != d2)                         #not equal operator
print("location" not in d1)            #not in(membership)

True
False
True
True

# removing values from dictionary
- there are 3 ways to remove elements from the dictionary 1.pop 2.pop item and 3.del

## 1.pop() method
- pop method is used to remove key value pair that we should mention key to delete.
- it doesnt delete last value like other data types.

In [39]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
d1.pop("places")
print(d1)

{'name': 'python', 'dob': 1991}

## 2.popitem() method
- popitem method is used to delete last iteam from the dictionary.

In [42]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
d1.popitem()

('places', ['hyderabad', 'chennai', 'banglore'])

## 3.del method
- del method is used delete entire dictionary or we can delete any value particulary from the dictionary.

In [46]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
del d1["places"][2]            #deleting single element/value from the dictionary.
print(d1)

{'name': 'python', 'dob': 1991, 'places': ['hyderabad', 'chennai']}

In [47]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
del d1                    #here deleting entire dictionary 
print(d1)

NameError: name 'd1' is not defined

# clear method:
- clear method is used to clear the entire dictionary items from the dictionary.

In [49]:
d1 = {"name" : "python",
      "dob" : 1991,
      "places" : ["hyderabad","chennai","banglore"]}
d1.clear()
print(d1)

{}

# fromkeys method 
- fromkeys method is used to create a dictionary but has only default value for entire keys.

In [61]:
keys = ["name","age","location"]
value = "sai"
d = dict.fromkeys(keys,value)
d

{'name': 'sai', 'age': 'sai', 'location': 'sai'}

# ZIP method
- zip method is also used to create a dictionary but has particular values for each keys.

In [3]:
keys = ["name","age","location"]
values = ["sai",21,"hyderabad"]
x = dict(zip(keys,values))
x

{'name': 'sai', 'age': 21, 'location': 'hyderabad'}

# set
- set is an unordered datatype.
- set is mutable.
- set allows all data types but it doesnot allows duplicates.

In [64]:
s = {}
s2 = set()               
print(type(s))           #untill elements are defined this s is a dictionary only
print(type(s2))         #it print type as a set because we mentioned set as a data type during assinging.

<class 'dict'>
<class 'set'>

In [67]:
s1 = {1,2,3,4,5}           #here it is a set but
s2 = set(1,2,3,4,5)  #throws an error beacuse we can include only one element at a time with this method.

TypeError: set expected at most 1 argument, got 5

In [68]:
#Another method of taking  set values
s = set({1,2,3,4})
s

{1, 2, 3, 4}

In [14]:
s1 = set("hello")                 #here hello is one value but has various elements in it so it prints all seperate elements.
s2 = set({"hello"})              #here {} are mentioned so hello prints as it is.
print(s1)
print(s2)

{'h', 'l', 'e', 'o'}
{'hello'}

In [25]:
s1 = {0,1,True,False,1.5}     #order of the value comes into consideration.
s2 = {True,False,1.5,0,1}    #if false or true comes first than 0 or 1 then false or true will be printed.  
s3 = {1.5,True,1,False,0}
print(s1)
print(s2)
print(s3)

{0, 1, 1.5}
{False, True, 1.5}
{False, 1.5, True}

# set operations/methods

## 1.add method:
- add method is used to add only single value at a time.

In [77]:
s = {1,2,3,4,5,8,6}
s.add(9)
s

{1, 2, 3, 4, 5, 6, 8, 9}

## 2.update method
- update method is used to add more than single element at a time into the set
- those adding elements should be in a list.

In [79]:
s.update([12,32,345,222,987])
s

{1, 2, 3, 4, 5, 6, 8, 9, 12, 32, 222, 345, 987}