# Loops:
- loops are used to repeate particular set of program multiple times.
- here code resuability is done.
- there are two types of loops present 1.for and 2.while.

# 1.for loop:
- for loop is used to repeate set of istructions untill known number of times/iterations.

In [2]:
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [11]:
# print the alphabets seperately in a loop
a = "innomatics research labs"
for i in a:
    print(i)

i
n
n
o
m
a
t
i
c
s

r
e
s
e
a
r
c
h

l
a
b
s

In [10]:
# double the number
a = [1,2,3,4,5]
for i in a:
    print(i*2)

2
4
6
8
10

In [9]:
# even and odd in a list
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
    if i%2 == 0:
        print(f"even number {i}")
    else:
        print(f"odd number {i}")

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10

# Range function:
- range generator generates sequence of numbers within a specified range.
- it is used to define the limit of iterations.
- range consists of 3 parameters they are (start,exclusively stop,step).

In [15]:
# we can directly include range if want set of iterable numbers in a list.
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
# only single parameter(exclusively stop)
for i in range(11):              # range starts from 0 if start is not given
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [26]:
# start and exclusive stop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
# step method 
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [30]:
# table 
n = int(input())
for i in range(1,11):
    print(f"{
    n} * {i} = {n*i}")

 17

17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170

In [38]:
# factorial
n = int(input())
fact = 1
for i in range(1,n+1):
    fact *=i
print(fact)

 5

120

In [51]:
# factorial using recursion function
def myfun(n):
    if n == 1:
        return 1
    return n * myfun(n - 1)
print(myfun(6))  # Output: 720

720

In [53]:
# sum of numbers in an iteration
sum = 0
for i in range(1,21):
    sum +=i
print(sum)

210

# Index based iteration 
- Here iteration is done based on indexed based.

In [58]:
l1 = [1,2,3,4]
l2 = []
for i in range(1,len(l1)+1):
    l2.append(i*2)
print(l2)

[2, 4, 6, 8]

In [68]:
# pass or fail
l = [23,45,66,32,45,78]
pass_list = []
pass_marks = 35
for i in l:
    if i > pass_marks:
        pass_list.append(f"{i} : pass")
print(pass_list)

['45 : pass', '66 : pass', '45 : pass', '78 : pass']

In [35]:
# room booking
import random
avai = ["Yes","No"]
if random.choice(avai) == "Yes":
    print("yes sir room is available")
    room_type = input().lower()
    if room_type == "single":
        print("price is 1500rs")
    elif room_type == "double":    
        print("price is 2000rs")
    else:
        print("Enter a valid room type")
else:
    print("sorry sir room is not available")

yes sir room is available

 double

price is 2000rs