# assignment operator
- assignment operators are used to assign valuses(=).
- modification/change,value will be assigned to left side of the variable.
## note:
- assignment operator uses arthametic operators but the process of assignment changes.

In [10]:
a = 5
b = 4
c = a + b
c += a      #here this += defines the assignment operator
print(c)
c += a
print(c)
c -= b
print(c)
c *= a
print(c)
c /= a
print(c)

14
19
15
75
15.0

# logical operators
- logical and
- logical or
- logical not

## 1.logical and:
- here both the conditions should be true to get output as true

In [12]:
a = 5
b = 4
print(a>b and b>a)

False

In [18]:
print(a and b)   #here if left side value of and is non-zero then it prints right side value as output.

4

In [17]:
x = 0
y = 5
print(x and y)   #here left value is zero so it prints 0 directly as output

0

## 2.logical or:
- here at least one condition should be true to get output as true

In [23]:
a = 5
b = 6
print(a>b or b>a)

True

In [30]:
x = 0 
y = 2
print(x or y)    #here left value is 0 then it gives right value as output

2

In [31]:
m = 2
n = 0
print(m or n)   #And if left side value is not 0 then it prints left value only

2

In [32]:
q = 3
u = 2
print(q or u)    #here it prints the left value itself only because both the values are not 0

3

In [29]:
d = 2
e = 3
print(d or e)

2

## 3.logical not:
- it gives opposite output to the given input
### note:
- if value of a variable is other then 0 then its "True" or else its "false".

In [35]:
a = True
print(not a)

False

In [36]:
b = False
print( not b)

True

In [37]:
a = 3
print( not a)

False

In [38]:
b = 0
print( not b)

True

In [39]:
c = 5.6
print(not c)

False

In [40]:
d = -4.7
print( not d)

False

# membership operator
- "in" is the membership operator in python

In [42]:
a="sai santhosh"
print("a" in a)

True

In [44]:
print(" " in a)    #it checks the space in a.

True

# identity operator 
- "is" is the identity operator in python
## note:
- "is" is used to compare both value and memory address.
- and "==" is used only to campare both the values.

In [49]:
print("data" is "data")

True

<>:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
/var/folders/ts/2fk00y9s3yd_bbtmwh9z_x580000gn/T/ipykernel_1270/88953525.py:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  print("data" is "data")

# bitwise operator
- bitwise and
- bitwise or
- bitwise not
- right shift
- left shift

## 1.bitwise and (&)
- it multiplies the binary values of the values and gives output

In [50]:
a = 3
b = 4
print(a & b)

0