# format
- format is used to combine a string with values.

In [1]:
a = 5
b = 6
c = 10
print("cost of pen a is {} and pen b is {} and pen c is {}".format(a,b,c))    #in btween {} space should not be given.

cost of pen a is 5 and pen b is 6 and pen c is 10

In [2]:
name = "sai santhosh"
age = 21
address = "hyd"
print("hello my name is {} i am {} yrs old am from {}".format(name,age,address))

hello my name is sai santhosh i am 21 yrs old am from hyd

# string concatenation
- string concatenation combines both the string values together using "+" operator.

In [4]:
a = "sai"
b = "santhosh"
print(a + b)      #in string space also counts a value.

saisanthosh

# string membership
- string membership is nothing but checks weather the substring is present in main string or not.
- "in" is the keyword used to perform string membership.

In [7]:
a = "sai santhosh"
print("a" in a)
print("m" not in a)      #not in is exactly opposite to in.

True
True

# type casting on strings 
- changing the data type.

In [8]:
a = "sai"
print(int(a))

ValueError: invalid literal for int() with base 10: 'sai'

In [9]:
print(float(a))

ValueError: could not convert string to float: 'sai'

In [10]:
print(complex(a))

ValueError: complex() arg is a malformed string

In [11]:
b = "17"
print(int(b))
print(float(b))
print(complex(b))

17
17.0
(17+0j)

In [20]:
c = "1.34"
print(int(c))        #float value cannot be converted into int.

ValueError: invalid literal for int() with base 10: '1.34'

In [15]:
print(float(c))

1.34

In [16]:
print(complex(c))

(1.34+0j)

In [17]:
d = "1+2j"
print(int(d))

ValueError: invalid literal for int() with base 10: '1+2j'

In [18]:
print(float(d))

ValueError: could not convert string to float: '1+2j'

In [19]:
print(complex(d))

(1+2j)

# input function
- this input function is nothing but taking input from the user or dynamic entry.
- this input is a "built-in-function" in python.
- by default input function holds string data type.

In [24]:
x = input()
print(x)
print(type(x))

 sai santhosh

sai santhosh
<class 'str'>

In [34]:
y = int(input())
print(type(y))         #here we cannot give a float value becauseit does not convert it into int.

 123

<class 'int'>

In [31]:
z = float(input())
print(type(z))           #we can give integer as a value for float input it converts it into float value.
print(z)

 12

<class 'float'>
12.0

In [36]:
x = input()          #we can give spaces at the start as input.

         weeewqdwcevrev

# variable assignment
- assigning a value to a variable 
- it is of two types 1.single value assignment 2.multi-value assignment.

In [38]:
#single value assignment
a = 5
a                  #calling
print(a)           #printing

5

In [42]:
#multi-value assignment
x,y,z = 3,4,5
x                    #calling

3

In [40]:
y

4

In [41]:
z

5

In [44]:
print(x,y,z)      #printing

3 4 5

# f string(formatted string)
- formatted string is used to write a string which includes variables directly into the string using "{}".

In [46]:
a = 4
b = 7
print(f"ur a value is {a} and b value is {b} and the sum of a + b is {a+b}")

ur a value is 4 and b value is 7 and the sum of a + b is 11

In [47]:
name = input()
age = int(input())
print(f"ur name is {name} and you mentioned your age is {age}")

 sai santhosh
 21

ur name is sai santhosh and you mentioned your age is 21

# eval function
- it will evaluate weather your expression  is valid or not.
- it checks the data type of the expression and converts into valid data type.

In [51]:
a = "4"
b = "3"
print("a+b")
eval("a+b")

a+b

'43'

In [57]:
code = "3 * (4 + 5)"
result = eval(code)  # result is 27
result

27