# List
- list is a sequential/ordered collection of elements.
- represented by []
- list allows all data types(int,float,strings,booleans,mixed data types,nested list).
- list is mutable data type and allows duplicates.

In [5]:
a = []
print(a)
print(type(a))

[]
<class 'list'>

In [7]:
#integers in a list
li = [1,2,3,4,5]
print(li)
print(type(li))

[1, 2, 3, 4, 5]
<class 'list'>

In [8]:
#float values in a list
li2 = [1.2,34.3,23.4]
print(li2)
print(type(li2))

[1.2, 34.3, 23.4]
<class 'list'>

In [9]:
#strings in a list
li3 = ["sai","santhosh","maddiboyena"]
print(li3)
print(type(li3))

['sai', 'santhosh', 'maddiboyena']
<class 'list'>

In [10]:
#mixed data types in a list
li4 = [1,True,1.23,"sai",4+3j]
print(li4)
print(type(li4))

[1, True, 1.23, 'sai', (4+3j)]
<class 'list'>

In [11]:
#nested list
li5 = ["sai",[1,3,True],1.23,["maddiboyena",17]]
print(li5)

['sai', [1, 3, True], 1.23, ['maddiboyena', 17]]

# list indexing

In [15]:
l = [1,True,1.23,"sai",4+3j]
print(l[0])
print(len(l))
print(l.index("sai"))

1
5
3

# list slicing

In [24]:
l = [1,True,1.23,"sai",4+3j]
print(l[:])
print(l[0:5])
print(l[0:4:2])
print(l[::-2])
print(l[2:4])
print(l[-2:-4:-1])

[1, True, 1.23, 'sai', (4+3j)]
[1, True, 1.23, 'sai', (4+3j)]
[1, 1.23]
[(4+3j), 1.23, 1]
[1.23, 'sai']
['sai', 1.23]

In [34]:
#Nested list slicing and slicing
l2 = ["sai",[1,3,True],1.23,["maddiboyena",17]]
print(l2[3][1])
print(l2[0:4])
print(l2[1:])
print(l2[::-1])
print(l2[0:34])
print(l2[-1:-3:-1])
print(l2[-3:-1])

17
['sai', [1, 3, True], 1.23, ['maddiboyena', 17]]
[[1, 3, True], 1.23, ['maddiboyena', 17]]
[['maddiboyena', 17], 1.23, [1, 3, True], 'sai']
['sai', [1, 3, True], 1.23, ['maddiboyena', 17]]
[['maddiboyena', 17], 1.23]
[[1, 3, True], 1.23]

# list built-in-functions/methods:

## 1.append:
- we can add a single element to the end of the list by using apend.
- we cannot add more elements at once.

In [37]:
l = [1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

## 2.extend:
- if you want to add more than one value to the list we use extend.
- all the extended elements will be added to the end of the list.`
- syntax:  list_name.extend([elements]).

In [40]:
l2 = [1,2,3,4,5]
l2.extend([2,3,4])
print(l2)

[1, 2, 3, 4, 5, 2, 3, 4]

In [41]:
l2.extend(["sai",17.23,True])
print(l2)

[1, 2, 3, 4, 5, 2, 3, 4, 'sai', 17.23, True]

## 3.changing the values in a list
- As list is mutable we can change the existing values by using index values.

In [48]:
l3 = [1,2,3,4,5]
l3[3]=100                #we can change the value directly by assigning value to the index number.
print(l3)
lis = [1,2,3,[3,4],2,4]
lis[3] = 100          
print(lis)

[1, 2, 3, 100, 5]
[1, 2, 3, 100, 2, 4]

## 4.insert
- inserting a value into a particular position in a list.
- here it won't delete any pre-existing element in the list.

In [45]:
l4 = [1,2,3,4,5]
l4.insert(4,"sai santhosh")
print(l4)

[1, 2, 3, 4, 'sai santhosh', 5]

In [46]:
l5 = [1,2,3,4]
l5.insert(3,["sai",17])
print(l5)

[1, 2, 3, ['sai', 17], 4]

## 5.removing elements from the list
### pop() method:
- pop is used to remove elements from the list.
- with out index value by default it removes last element from list.
- it first returns the value and then after it removes the value from the list.
- NOTE: we cannot pop(delete) value from nested lists.

In [61]:
ls = [1,2,3,4,"sai",5,6]
ls.pop()                      #here it automatically deletes last value from the list
print(ls)
ls.pop(3)                     #here it deletes value from the 3rd index  
print(ls)

[1, 2, 3, 4, 'sai', 5]
[1, 2, 3, 'sai', 5]

In [70]:
lis = [1,2,3,[3,4],2,4]
lis.pop([3][1])

IndexError: list index out of range

### remove() method:
- remove method is used to directly remove the element from the list.

In [64]:
l = [1,2,3,"sai","santhosh",17,21]
l.remove("santhosh")
print(l)

[1, 2, 3, 'sai', 17, 21]

### delete method:
- used to delete an entire list or any particular element using index value.
- syntax:   del list_name[index_value]

In [66]:
l = [1,2,3,"sai","santhosh",17,21]
del l[3]                               #used to delete a particular value 
print(l)

[1, 2, 3, 'santhosh', 17, 21]

In [68]:
l3 = [3,"sai","santhosh",17,21]
del l3                              #here entire list is deleted
print(l3)

NameError: name 'l3' is not defined

In [78]:
lis = [1,2,3,[3,4],2,4]
del lis[3][1]                  #deleting from nested list
print(lis)

[1, 2, 3, [3], 2, 4]

In [74]:
lis = [1,2,3,[3,4],2,4]
del lis[0:3]                 #here we can delete more than one emelent from the list using slicing.
print(lis)

[[3, 4], 2, 4]

In [77]:
#joining/concatinating two lists
l1 = [1,2,3,4,5]
l2 = [9,8,7,6,5]
print(l1+l2)

[1, 2, 3, 4, 5, 9, 8, 7, 6, 5]

In [2]:
l = [1,2,[34,56,78],23,45,[45,67]]
del l[5][1]
print(l)

[1, 2, [34, 56, 78], 23, 45, [45]]

# count method
- count method is used to count the number of occurences in a list.

In [3]:
l = [1,2,3,1,23,21,2,1,1,2,31,1]
print(l.count(2))

3

# index method 
- index method is used to check the 1st occurence in the list.

In [5]:
l = [1,2,3,1,23,21,2,1,1,2,31,1]
print(l.index(2))

1

# reverse method
- reverse method is used to reverse the elements in the list

In [9]:
l = [1,2,3,1,23,21,2,1,1,2,31,1]
l.reverse()                         #here reverse should be done first before printing it.
print(l)

[1, 31, 2, 1, 1, 2, 21, 23, 1, 3, 2, 1]

# clear() method 
- clear method is used to clear all the elements from the list and print an empty list.

In [10]:
l = [1,2,3,1,23,21,2,1,1,2,31,1]
l.clear()
print(l)

[]

# copy() method
- copy method is used to copy the list.
- if the list is normal there will be no effect in the duplicate copied list.
- NOTE : if the list is nested one then just copy can change both original and duplicate copy too.
- so we use deepcopy insted of copy to change the one of the list.it doesnt effect other list.

In [12]:
l = [1,2,3,4,5]
m = l.copy()
print(m)
m.append(100)
print(m)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 5]

In [39]:
#Nested list
li = [1,2,3,1,[2,3,2],56,78]
l2 = li.copy()
print(l2)
#l2.insert(4,100)                  #change of values only change both the list
l2[4][1] = 100
print(l2)
print(li)

[1, 2, 3, 1, [2, 3, 2], 56, 78]
[1, 2, 3, 1, [2, 100, 2], 56, 78]
[1, 2, 3, 1, [2, 100, 2], 56, 78]

# deepcopy() method:
- deepcopy is same as copy but it helps to change during nested list.
- it make changes only in one list not in other.

In [37]:
import copy
l = [1,2,3,[2,3,5],4,5,6]
m = copy.deepcopy(l)
print(m)
m.extend([2,3])
m[3][1] = 200
print(m)
print(l)                    #Here it doesnt change because of deepcopy.

[1, 2, 3, [2, 3, 5], 4, 5, 6]
[1, 2, 3, [2, 200, 5], 4, 5, 6, 2, 3]
[1, 2, 3, [2, 3, 5], 4, 5, 6]

# membership

In [41]:
li = [1,2,3,1,[2,3,2],56,78]
print(56 in li)

True

In [45]:
li = [1,2,3,1,2,3,2,56,78]
print(min(li))
print(max(li))
print(sum(li))

1
78
148

# sort and reverse in list

In [46]:
li = [1,2,3,1,2,3,2,56,78]
li.sort()
print(li)

[1, 1, 2, 2, 2, 3, 3, 56, 78]

In [49]:
li = [1,2,3,1,2,3,2,56,78]
li.sort(reverse=True)             #Descending order
print(li)

[78, 56, 3, 3, 2, 2, 2, 1, 1]