# Tuple
- Tuple is ordered collection of elements/items.
- is represented by ()
- allows all data types and duplicates also
- and tuple is immutable data type.

# advantages of Tuples:
- Tuples are 50% faster than lists.
- we can avoid accidental changes when we use changes.

In [1]:
a = ()
print(a)
print(type(a))

()
<class 'tuple'>

In [7]:
#integers in a tuple
b = (1,2,3,4)
print(b)
print(type(b))

(1, 2, 3, 4)
<class 'tuple'>

In [8]:
#float tuple
b = (1.2,2.3,3.4,4.5)
print(b)
print(type(b))

(1.2, 2.3, 3.4, 4.5)
<class 'tuple'>

In [9]:
#string tuple
b = ("sai","santhosh","python")
print(b)
print(type(b))

('sai', 'santhosh', 'python')
<class 'tuple'>

In [10]:
#combination of data types in a tuple
b = (1,2.5,"sai",4+8j)
print(b)
print(type(b))

(1, 2.5, 'sai', (4+8j))
<class 'tuple'>

In [12]:
#Nested Tuple
b = (1,2,3,(3,4),4)
print(b)
print(type(b))

(1, 2, 3, (3, 4), 4)
<class 'tuple'>

# # Tuple Indexing and slicing

In [19]:
b = (4,3,2,8,9,7,6,1,2,3,4)
print(b[2])
print(b[::])
print(b[1:])
print(b[::-1])
print(b[0:4:2])
print(b[-9:-2])
print(b[-2:-9:-1])

2
(4, 3, 2, 8, 9, 7, 6, 1, 2, 3, 4)
(3, 2, 8, 9, 7, 6, 1, 2, 3, 4)
(4, 3, 2, 1, 6, 7, 9, 8, 2, 3, 4)
(4, 2)
(2, 8, 9, 7, 6, 1, 2)
(3, 2, 1, 6, 7, 9, 8)

In [20]:
b = (1,2,3,(3,4),4)
b[3][1]

4

In [23]:
b = (1,2,3,(3,4),4)
d = (100,)
print(b+d)

(1, 2, 3, (3, 4), 4, 100)

In [29]:
d = (100,)
del d                #Deleting a entire Tuple
#print(d)

# Packing a Tuple

In [32]:
a = 3
b = 4
print((a,b))

(3, 4)

# Unpacking a Tuple

In [37]:
a = 3
b = 4
c = (a,b)
print(c)
print(type(c))
c = a,b
print(c)
print(type(c))

(3, 4)
<class 'tuple'>
(3, 4)
<class 'tuple'>

# sorting in asc order and descen order

In [39]:
a = (1,34,567,332,567,2)
print(sorted(a))
print(sorted(a,reverse=True))

[1, 2, 34, 332, 567, 567]
[567, 567, 332, 34, 2, 1]

# sorting a tuple which contains strings

In [42]:
a = ("cat","monkey","zebra","dog","donkey")
print(sorted(a))                                       #Here only small alphabets are there so sorted easily.
b = ("cat","monkey","Zebra","dog","Donkey")
print(sorted(b))                                       #Here both small and cap's are there so preference is capital alphabets.

['cat', 'dog', 'donkey', 'monkey', 'zebra']
['Donkey', 'Zebra', 'cat', 'dog', 'monkey']

# Type conversion to list`

In [45]:
a = ("cat","monkey","zebra","dog","donkey")
b = list(a)
print(b)
print(type(b))

['cat', 'monkey', 'zebra', 'dog', 'donkey']
<class 'list'>

In [44]:
a = ["cat","monkey","zebra","dog","donkey"]
b = tuple(a)
print(b)
print(type(b))

('cat', 'monkey', 'zebra', 'dog', 'donkey')
<class 'tuple'>

# membership operator in Tuple

In [47]:
a = ("cat","monkey","zebra","dog","donkey")
print("donkey" in a)
print("cat" not in a)

True
False

In [65]:
a = (1,2,3,[2,3,4],5)
b = list(a)
b.insert(3,a[3][0])
b.insert(4,a[3][1])
b.insert(5,a[3][2])
del b[6]
print(tuple(b))

(1, 2, 3, 2, 3, 4, 5)

In [68]:
a = [1,2,3,(6,7,8),3,4]
list(a[3]==tuple)
print(a)

TypeError: 'bool' object is not iterable