# 1.Print Numbers 1 to 10 using for loop.
 Hint: Use range()

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 2.Print the first 5 even numbers using while loop.
 Hint: Start from 2, keep incrementing by 2

# 3.Print each character of the string "Python" using a for loop.

In [2]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

# 4.Sum of numbers from 1 to 50 using for loop.

In [3]:
sum = 0
for i in range(1,51):
    sum += i
print(sum)

1275

# 5.Print numbers from 10 to 1 using a while loop (reverse counting).

In [7]:
a = 10
while a>0:
    print(a)
    a -= 1

10
9
8
7
6
5
4
3
2
1

# 6.Print all multiples of 3 between 1 and 30 using a for loop.

In [9]:
for i in range(1,31):
    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

# 7.Ask the user to enter numbers until they type 0. Calculate the sum of all numbers entered.
 Hint: Use while loop and input()

In [11]:
sum = 0
while True:
    n = int(input())
    if n == 0:
        break
    else:
        sum += n
print(sum)

 2
 3
 2
 3
 4
 0

14

# 8.Given a list: nums = [2, 4, 6, 8, 10], print the square of each number.

In [12]:
nums = [2, 4, 6, 8, 10]
for i in nums:
    print(i**2)

4
16
36
64
100

# 9.Count how many vowels are in a string using a for loop.
 Input: "hello world" â†’ Output: 3

In [13]:
a = "hello world"
vowels = ["a","e","i","o","u"]
count = 0
for i in a:
    if i in vowels:
        count += 1
print(count)

3

# 10.Find the factorial of a number using a while loop.
 Hint: factorial = factorial * num

In [17]:
num = int(input())
fact = 1
while num > 1:
    fact = fact *num
    num -=1
print(fact)

 4

24

# 11.Print the following pattern using loops (n = 5):
*
* *
* * *
* * * *
* * * * *

In [18]:
for i in range(1,6):
    print(i * "*")

*
**
***
****
*****

# 12.Print this reverse triangle pattern (n = 4):
* * * *
* * *
* *
*

In [21]:
for i in range(4,0,-1):
    print(i*"*")

****
***
**
*

# 13.Print a right-aligned triangle (n = 4):
   *
  * *
 * * *
* * * *

In [33]:
n = 4
for i in range(1,n+1):
    print(" "*(n-i)+i*"* ")

   *
  * *
 * * *
* * * *

# 14.Print number pyramid (n = 5):
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [40]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 15.Ask the user for 5 inputs using a while loop and store them in a list. Then print the list.

In [44]:
n = 1
l = []
while n < 6:
    i = input()
    l.append(i)
    n += 1
print(l)

 1
 2
 3
 4
 5

['1', '2', '3', '4', '5']

# 16.Create a for loop that breaks when it finds the number 7 in a list. Print "Found!" and stop.
 	numbers = [1, 3, 5, 7, 9, 11]

In [49]:
numbers = [1, 3, 5, 7, 9, 11]
for i in numbers:
    if i == 7:
        print("found")
        break
    else:
        print(i)

1
3
5
found