# 1.Create a set of 5 fruits and print it.

In [1]:
fruits = {"apple","mango","banana","pineapple","grapes"}
fruits

{'apple', 'banana', 'grapes', 'mango', 'pineapple'}

# 2.Add "mango" to a set s = {'apple', 'banana'}.

In [4]:
s = {"apple","banana"}
s.add("mango")
s

{'apple', 'banana', 'mango'}

# 3.Try adding 'apple' again to the above set. What happens?

In [6]:
x = {'apple', 'banana', 'mango'}
x.add("apple")
x

{'apple', 'banana', 'mango'}

# 4.Remove 'banana' using remove() and discard() – what’s the difference?

In [8]:
x = {'apple', 'banana', 'mango'}
x.remove("banana")
x

{'apple', 'mango'}

In [9]:
x = {'apple', 'banana', 'mango'}
x.discard("banana")
x

{'apple', 'mango'}

# 5.Check if 'apple' exists in the set.

In [10]:
x = {'apple', 'banana', 'mango'}
"apple" in x

True

# 6.Create two sets and perform:
- Union
- Intersection
- Difference

In [12]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}

# 7.Clear all elements from a set.

In [13]:
s1 = {1,2,3,4,5,6}
s1.clear()
s1

set()

# 8.Use a loop to print all items in a set.

In [14]:
s1 = {1,2,3,4,5,6}
for i in s1:
    print(i)

1
2
3
4
5
6

# 9.Convert a list with duplicates to a set to remove duplicates.

In [15]:
l = [1,2,3,4,2,3,6,4,3,7,4,2,3,1,2]
s = set(l)
s

{1, 2, 3, 4, 6, 7}

# 10.Find the length of the set.

In [16]:
s2 = {4,5,6,7,8,9}
len(s2)

6