# 1. Create a variable name and assign your name to it.

In [3]:
name = "sai santhosh"

# 2. Assign the number 25 to a variable called age.

In [4]:
age = 25

# 3. Change the value of a variable x from 10 to 20.

In [17]:
x = 10
x = 20
print(x)

20

# 4. Print the value of a variable language assigned to "Python".

In [8]:
language = "python"
print(language)

python

# 5. Create a variable height and assign it a decimal value.

In [9]:
height = 17.07

# 6. Assign multiple values to a, b, and c in a single line.

In [14]:
a , b , c = 2 , 6 , 8

# 7. Declare a variable is_coding_fun and assign it a Boolean value.

In [15]:
is_coding_fun=True

# 8. Swap values of two variables x and y.

In [16]:
x = 4
y = 5
a = x
x = y
y = a
print(x)
print(y)

5
4

# 9. Assign a string to a variable, then reassign an integer to the same variable.

In [18]:
x = "abc"
x = 17
print(x)

17

# 10. Create a variable z and assign it the sum of two other variables.

In [19]:
x = 3
y = 4
z = x + y
print(z)

7

# 11. Create a variable with an underscore in its name (e.g., first_name).

In [20]:
batch_410 = "students"

# 12. Try naming a variable starting with a number and observe the result.

In [21]:
410_batch = "students"

SyntaxError: invalid decimal literal (4117591974.py, line 1)

# 13. Use a mix of uppercase and lowercase letters in a variable name.

In [22]:
BaTcH_410 = " students"

# 14. Create two variables score and Score with different values.

In [23]:
score = 10
Score = 20

# 15. Try using a special character (e.g., @) in a variable name.

In [24]:
batch@410 = "students"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3489299070.py, line 1)

# 16. Try using a Python keyword as a variable name (e.g., if = 5).

In [25]:
import = 10

SyntaxError: invalid syntax (2593154962.py, line 1)

# 17. Write code that checks if "for" is a Python keyword.

In [31]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [32]:
#from the above list we know that for is a keyword.

# 18. Import the keyword module and print the full list of keywords.

In [28]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# 19. Write a comment explaining why class cannot be used as a variable.

In [29]:
#class cannot be used as a variable because its a keyword in python.

# Interview Questions

## 1. What will be the output of the following code? Explain.
class = "MyClass"
print(class)

In [33]:
class = "MyClass"
print(class)

SyntaxError: invalid syntax (1381985252.py, line 1)

In [34]:
#Invalid syntax because class is a keyword which cannot be used as a variable name.

# 2. What is the output and why?
_ = "underscore"
print(_)

In [36]:
_ = "underscore"
print(_)

underscore

In [37]:
#output is underscore because the rules of declaring a varible says that only (_) can be used as special characters.