# 1.Create a tuple of five colors and print the second and fourth items.`m

In [2]:
colors = ("red","yellow","green","blue","orange")
print(colors[1])
print(colors[3])

yellow
blue

# 2.Given a tuple: t = (10, 20, 30, 40, 50), Print the length of the tuple and the last item using negative indexing

In [3]:
t = (10, 20, 30, 40, 50)
print(len(t))
print(t[-1])

5
50

# 3.Create a tuple with a single item 100. Print its type.

In [4]:
t = (100,)
print(type(t))

<class 'tuple'>

# 4.Convert the following list into a tuple: ['apple', 'banana', 'cherry']

In [6]:
l = ['apple', 'banana', 'cherry']
t = tuple(l)
print(t)
print(type(t))

('apple', 'banana', 'cherry')
<class 'tuple'>

# 5.Check whether the element 'python' exists in the tuple ('java', 'python', 'c').

In [7]:
t = ('java', 'python', 'c')
"python" in t

True

# 6.Slice the tuple t = (1, 2, 3, 4, 5, 6) to get:
- First 3 elements
- Last 2 elements

In [8]:
t = (1, 2, 3, 4, 5, 6)
print(t[:3])
print(t[-2:])

(1, 2, 3)
(5, 6)

# 7.Concatenate two tuples: a = (1, 2) and b = (3, 4). Store it in a new tuple.

In [9]:
a = (1,2)
b = (3,4)
c = a+b
c

(1, 2, 3, 4)

# 8.Try to change the first element of the tuple (5, 6, 7) to 100. What happens?

In [10]:
t = (5,6,7)
t[0] = 100

TypeError: 'tuple' object does not support item assignment

# 9.Repeat the tuple (1, 2) 3 times and print the result.

In [11]:
t = (1,2)
t * 3

(1, 2, 1, 2, 1, 2)

# 10.Unpack the tuple x = (10, 20, 30) into three variables and print them.

In [12]:
x = (10, 20, 30)
a = x[0]
b = x[1]
c = x[2]
print(a,b,c)

10 20 30

# 11.Use a tuple to return multiple values from a function that takes two numbers and returns (sum, product).

In [14]:
def myfun(a,b):
    sum = a+b
    product = a*b
    t = (sum,product)
    print(t)
myfun(2,3)

(5, 6)

# 12.Use count() to find how many times 3 appears in the tuple (1, 2, 3, 3, 3, 4).

In [15]:
t = (1, 2, 3, 3, 3, 4)
t.count(3)

3

# 13.Use index() to find the position of 'cat' in ('dog', 'cat', 'mouse').

In [16]:
t = ('dog', 'cat', 'mouse')
t.index("cat")

1

# 14.Convert the string "hello" into a tuple.

In [17]:
s = "hello"
t = tuple(s)
t

('h', 'e', 'l', 'l', 'o')

# 15.Write a program to find the maximum and minimum values in a tuple of numbers.

In [18]:
t = (1,2,34,56,434,674,456,765)
print(max(t))
print(min(t))

765
1