# Q21. Concatenate two lists (like first names and last names) using +.

In [1]:
a = [1,2,3,4,5]
b = [6,7,8,9]
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Q22. Duplicate a list using the * operator and show how the elements repeat.

In [3]:
a = [1,2,3,4]
print(a*4)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

# Q23. Access the last 3 items of a list using negative slicing.

In [5]:
a = [1,2,3,4,5,6,7,8,9]
print(a[-3:])

[7, 8, 9]

# Q24. Use slicing to get a sublist from index 1 to 4.

In [6]:
a = [1,2,3,4,5,6,7,8,9]
a[1:5]

[2, 3, 4, 5]

# Q25. Use del to delete the second element from a list.

In [7]:
a = [1,2,3,4,5,6,7,8,9]
del a[1]
print(a)

[1, 3, 4, 5, 6, 7, 8, 9]

# Q1. Create two lists and join them into a single list using +.

In [8]:
a = [1,2,3,4]
b = [5,6,7,8,9]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Q2. Make a copy of a list and modify the copy. Show that the original list is unchanged.

In [9]:
a = [1,2,3,4]
b = a.copy()
b[1] = 100
print(a)
print(b)

[1, 2, 3, 4]
[1, 100, 3, 4]

# Q3. Create a list of 5 integers and sort them in ascending order.

In [10]:
a = [123,456,321,21,45]
a.sort()
print(a)

[21, 45, 123, 321, 456]

# Q4. Create a list of 5 strings and sort them in reverse alphabetical order.

In [11]:
a = ["sai","innomatics","research","labs"]
a.sort(reverse=True)
print(a)

['sai', 'research', 'labs', 'innomatics']

# Q5. Create a list and reverse the entire list using a method.

In [12]:
a = ["sai","innomatics","research","labs"]
a.reverse()
print(a)

['labs', 'research', 'innomatics', 'sai']

# Q6. Create a list of 4 colors. Clear all the elements using a method and print it.

In [14]:
colors = ["red","blue","pink","black"]
colors.clear()
print(colors)

[]

# Q7. Create a list and multiply it by 3 (list * 3). What is the result?

In [15]:
a = [1,2,3,4]
print(a*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

# Q8. Create a list and access only the first three items using slicing.

In [17]:
a = [1,2,3,4,5,6,7,8,9]
a[:3]

[1, 2, 3]

# Q9. Create a list and delete the second item using the del keyword.

In [19]:
a = [1,2,3,4,5,6,7,8,9]
del a[1]
print(a)

[1, 3, 4, 5, 6, 7, 8, 9]

# Q10. Create a list of your top 5 favorite movies.
 Remove a movie by name and then add a new one at the end.

In [21]:
movies = ["kobbarimatta","Singham 123","bahubali-1","bahubali-2","eleven"]
movies.remove("eleven")
movies.append("Hrudaya Kaleyam")
print(movies)

['kobbarimatta', 'Singham 123', 'bahubali-1', 'bahubali-2', 'Hrudaya Kaleyam']