# 1.How many characters are in the string "Python3"?

In [1]:
a = "Python3"
print(len(a))

7

# 2.If text = " Hello World ", what does len(text) return?

In [2]:
text = " Hello World "
print(len(text))

13

# 3.Count the length of " " (a space character). Is it 0?

In [3]:
print(len(" "))

1

# 4.Convert "Good Morning" to uppercase. What do you get?

In [6]:
a = "Good Morning"
print(a.upper())

GOOD MORNING

# 5.What is "HELLO".lower()?

In [7]:
a = "HELLO"
print(a.lower())

hello

# 6.If msg = "PyThOn", what will msg.upper() and msg.lower() return?

In [8]:
msg = "PyThOn"
print(msg.upper())
print(msg.lower())

PYTHON
python

# 7.What happens if you use .upper() on "123abc!"?

In [10]:
a = "123abc!"
print(a.upper())      #it converts characters in the string to upper case

123ABC!

# 8.What does "hello world".capitalize() return?

In [11]:
print("hello world".capitalize())

Hello world

# 9.Convert "hello world from python" to title case.

In [12]:
print("hello world from python".title())

Hello World From Python

# 10.Will "JAVA".capitalize() return "Java" or "JAVA"?

In [13]:
print("JAVA".capitalize())

Java

# 11.What’s the difference between "hello world".title() and "hello world".capitalize()?

In [16]:
print("hello world".title())
print("hello world".capitalize())

Hello World
Hello world

# 12.Count how many 'o' are in "hello, world!".

In [18]:
a = "hello,world!"
print(a.count("o"))

2

# 13.Given quote = "Practice makes perfect", how many times does 'p' appear?

In [20]:
quote = "Practice makes perfect"
print(quote.count("p"))

1

# 14.What is "Mississippi".count('s')?

In [21]:
"Mississippi".count('s')

4

# 15.What does "banana".count("na") return?

In [22]:
"banana".count("na")

2

# 16.What is the position of 'e' in "elephant" using .find()?

In [24]:
print("elephant".find("e"))

0

# 17.Use .find() to locate 'z' in "puzzle" — what index is returned?

In [25]:
print("puzzle".find("z"))

2

# 18.What happens if .find() doesn’t find the character?

In [27]:
a = "hello"
print(a.find("p"))

-1

# 19.How does index() behave differently from find() when the item isn’t found?

In [33]:
a = "hello"
a.find("p")
a.index("p")

ValueError: substring not found

# 20.What does "hello".index("e") return?

In [34]:
"hello".index("e")

1

# 21.Combine "Hello" and "World" into "HelloWorld".

In [35]:
"Hello" + "World"

'HelloWorld'

# 22.Use + to add "Hi, " and "Alice" together.

In [37]:
"Hi" + "Alice"

'HiAlice'

# 23.What is the result of "Age: " + str(25)?

In [40]:
"Age: " + str(25)

'Age: 25'

# 24.Can you concatenate "abc" and "123" to form "abc123"?

In [41]:
"abc" + "123"

'abc123'

# 25.Replace "dog" with "cat" in "The dog barks.".

In [42]:
"The dog barks.".replace("dog","cat")

'The cat barks.'

# 26.Given msg = "rain rain go away", replace 'rain' with 'sun'.

In [44]:
msg = "rain rain go away"
print(msg.replace("rain","sun"))

sun sun go away

# 27.What happens when you replace 'a' with '@' in "banana"?

In [45]:
"banana".replace("a","@")

'b@n@n@'

# 28.How do you replace spaces with hyphens in "join the party"?

In [46]:
"join the party".replace(" ","-")

'join-the-party'

# 29.What does " hello ".strip() return?

In [47]:
" hello ".strip()

'hello'

# 30.Remove # from both ends of "###Welcome###" using strip().

In [48]:
"###Welcome###".strip("#")

'Welcome'

# 31.Does strip() remove characters from the middle of a string?

In [50]:
"###Wel###come###".strip("#")     #no it does not remove the characters from middle of a string

'Wel###come'

# 32.How do you remove only the trailing spaces from "Hello "?

In [52]:
"Hello ".strip()

'Hello'

# 33.Use .format() to insert "Alice" into "Hello, {}!".

In [54]:
"Hello, {}!".format("Alice")

'Hello, Alice!'

# 34.What is "{} scored {} marks".format("John", 95)?

In [55]:
"{} scored {} marks".format("John", 95)

'John scored 95 marks'

# 35.Fill in two blanks in "{} is {} years old" with "Bob" and 30.

In [56]:
"{} is {} years old".format("bob",30)

'bob is 30 years old'

# 36.Can you use numbers with placeholders? Try "{}+{}={}".format(2, 3, 5).

In [57]:
"{}+{}={}".format(2, 3, 5)

'2+3=5'

# 37.What does "apple,banana,grape".split(",") return?

In [58]:
"apple,banana,grape".split(",")

['apple', 'banana', 'grape']

# 38.How many parts do you get from "one two three".split()?

In [60]:
"one two three".split()     #three parts

['one', 'two', 'three']

# 39.Use split("-") on "2025-05-16". What do you get?

In [61]:
"2025-05-16".split("-")

['2025', '05', '16']

# 40.Can you split "hello" using a space as a separator?

In [63]:
"hello".split(" ") #there is no space in between so it only prints hello in a list.

['hello']

# 41.Take " python " and return "PYTHON" with whitespace removed.

In [65]:
" python ".strip().upper()

'PYTHON'

# 42.Format and print "Score: 100" using .format().

In [67]:
a = "Score:{}"
print(a.format(100))

Score:100

# 43.Convert "python is fun" to "Python Is Fun" using any method.

In [69]:
"python is fun".title()

'Python Is Fun'

# 44.Replace all 'l' in "hello world" with '*'.

In [70]:
"hello world".replace("l","*")

'he**o wor*d'

# 45.How do you get just the word "World" from "Hello World"?

In [72]:
a = "Hello World".split()
print(a[1])

World