# Q1. Create a list of your five favorite fruits.
 Add a new fruit to the end of the list using the appropriate method.

In [3]:
fruits = []
fruits.append("mango")
fruits.append("apple")
fruits.append("grapes")
fruits.append("banana")
fruits.append("orange")
print(fruits)

['mango', 'apple', 'grapes', 'banana', 'orange']

# Q2. Create a list of numbers from 1 to 5.
 Insert the number 10 at the second position.

In [5]:
l = [1,2,3,4,5]
l.insert(2,10)
print(l)

[1, 2, 10, 3, 4, 5]

# Q3. Create a list with duplicate elements.
 Use a method to find how many times a particular element appears.

In [6]:
l = [1,2,1,2,3,4,2,1,5,6]
print(l.count(2))

3

# Q4. Remove the third item from a list of 6 elements using a list method.

In [8]:
l = [1,2,3,4,5,6]
l.remove(4)
print(l)

[1, 2, 3, 5, 6]

# Q5. Create a list of your three favorite subjects.
 Replace the second subject with "Mathematics".`

In [9]:
sub = ["mathematics","science","social"]
sub[2]="mathematics"
print(sub)

['mathematics', 'science', 'mathematics']

# Q6. Create a list and remove the last item using the appropriate method.

In [10]:
l = [1,2,3,4,5,6]
l.pop()
print(l)

[1, 2, 3, 4, 5]

# Q7. Create a list of countries and add a new country at index 1.

In [12]:
country = ["america","india","sri lanka","bangladesh"]
country.insert(1,"thailand")
print(country)

['america', 'thailand', 'india', 'sri lanka', 'bangladesh']

# Q8. Use a list method to find the position of an element in the list.

In [13]:
country = ["america","india","sri lanka","bangladesh"]
print(country.index("india"))

1

# Q9. Create a list and check whether an item "apple" exists in it or not (you can use the in keyword).

In [14]:
country = ["america","india","sri lanka","bangladesh"]
print("apple" in country)

False

# Q10. Make a list and use pop() to remove an item.
 Store the removed item in a variable and print it.

In [15]:
country = ["america","india","sri lanka","bangladesh"]
a = country.pop()
print(a)

bangladesh

# List Methods

# Q1. Create an empty list and add five elements to it using append().

In [18]:
l = []
l.append(3)
l.append("sai")
l.append(1.34)
l.append(4+9j)
l.append(34)
print(l)

[3, 'sai', 1.34, (4+9j), 34]

# Q2. Create a list of colors and use insert() to add "purple" at index 2.

In [19]:
colors = ["red","yellow","white","black","pink"]
colors.insert(2,"purple")
print(colors)

['red', 'yellow', 'purple', 'white', 'black', 'pink']

# Q3. Start with a list of two numbers. Append two more numbers. Then insert a number at the beginning.

In [21]:
a = [1,2]
a.append(3)
a.append(4)
a.insert(0,17)
print(a)

[17, 1, 2, 3, 4]

# Q4. Create a list of 6 fruits. Remove one by name using remove().

In [23]:
a = ['mango', 'apple', 'grapes', 'banana', 'orange', 'pineapple']
a.remove("mango")
a.remove("apple")
a.remove('grapes')
a.remove('banana')
a.remove('orange')
a.remove('pineapple')
print(a)

[]

# Q5. Use pop() to remove the last element of a list and print the removed value.

In [25]:
a = ['mango', 'apple', 'grapes', 'banana', 'orange', 'pineapple']
b = a.pop()
print(b)

pineapple

# Q6. Use pop(index) to remove the third item in a list of countries.

In [26]:
a = ['mango', 'apple', 'grapes', 'banana', 'orange', 'pineapple']
a.pop(2)
print(a)

['mango', 'apple', 'banana', 'orange', 'pineapple']

# Q7. Try removing an element that doesn’t exist from a list using remove(). What happens?

In [27]:
a = ['mango', 'apple', 'grapes', 'banana', 'orange', 'pineapple']
a.remove("maths")

ValueError: list.remove(x): x not in list

# Q8. Create a list with repeated numbers. Use count() to find how many times 3 appears.

In [28]:
a = [1,2,3,3,1,3,2,1,2,1,2,1,3,4,5]
print(a.count(3))

4

# Q9. Create a list of animal names and use index() to find the position of "cat".

In [29]:
animals = ["dog","lion","monkey","cat","hen"]
print(animals.index("cat"))

3

# Q10. What happens if you use index() for a value not in the list? Try it and note the result.

In [31]:
animals = ["dog","lion","monkey","cat","hen"]
print(animals.index("maths"))

ValueError: 'maths' is not in list

# Q11. Create a list of numbers in random order. Use sort() to sort them in ascending order.

In [34]:
a = [1,24,22,345,76]
a.sort()
print(a)

[1, 22, 24, 76, 345]

# Q12. Create a list of names and sort them alphabetically.

In [35]:
names = ["sai","pranay","abhiskek","bargav"]
names.sort()
print(names)

['abhiskek', 'bargav', 'pranay', 'sai']

# Q13. Sort a list in descending order using sort(reverse=True).

In [37]:
names = ["sai","pranay","abhiskek","bargav"]
names.sort()
names.reverse()
print(names)

['sai', 'pranay', 'bargav', 'abhiskek']

# Q14. Use reverse() to flip the order of any list.

In [38]:
names = ["sai","pranay","abhiskek","bargav"]
names.reverse()
print(names)

['bargav', 'abhiskek', 'pranay', 'sai']

# Q15. Create a list and make a copy using copy(). Change something in the copy. Show that the original list is unchanged.

In [39]:
names = ["sai","pranay","abhiskek","bargav"]
b = names.copy()
b[2] = "vamshi"
print(b)
print(names)

['sai', 'pranay', 'vamshi', 'bargav']
['sai', 'pranay', 'abhiskek', 'bargav']

# Q16. Create a list with some elements. Use clear() and show that it becomes empty.

In [40]:
names = ["sai","pranay","abhiskek","bargav"]
names.clear()
print(names)

[]

# Q17. Create a list of 5 numbers.
 Insert a number at index 2, then remove the first number, then append a new number.
 Print after each step.

In [41]:
a = [1,2,3,4,5]
a.insert(2,10)
print(a)
del a[0]
print(a)
a.append(100)
print(a)

[1, 2, 10, 3, 4, 5]
[2, 10, 3, 4, 5]
[2, 10, 3, 4, 5, 100]

# Q18. Create a list of 4 friends' names.
 Sort the list, reverse it, then remove the second name using pop().

In [44]:
names = ["sai","pranay","abhiskek","bargav"]
names.sort()
names.reverse()
names.pop(2)
print(names)

['sai', 'pranay', 'abhiskek']

# Q19. Make a list with 3 elements.
 Add one element using append(), one using insert(), then remove the last using pop().

In [46]:
a = [1,2,3]
a.append(4)
a.insert(4,5)
a.pop()
print(a)

[1, 2, 3, 4]

# Q20. Copy a list of places you want to visit.
 Clear the copied list. Show both lists after each step to prove they are independent.

In [48]:
places = ["pakistan","balochistan","afganistan","iran"]
cpy = places.copy()
cpy.pop()
places.insert(0,"bihar")
print(places)
print(cpy)

['bihar', 'pakistan', 'balochistan', 'afganistan', 'iran']
['pakistan', 'balochistan', 'afganistan']